.row {
	background-color: pink;
	margin-right: 10px;
	margin-left: 10px;
}

h1 {
	color: white;
}

.set {
	margin-bottom: 50px;
}

#col-style {
	margin-bottom: 30px;
}

body {
	background-color: #005;
}

.navbar {
	background-color:  #66d9ff;
}

#pink-col {
	background-color: pink;
}

#button {
	background-color: #ddd;
}

strong {
	color: black;
	font-size: 1.5em;
}

#link-to-top {
	color: white;
}
